@import '../scss/functions/rem';
@import '../scss/variables/colors';

:host {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.header {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: rem(26) 0;
    margin-bottom: rem(36);

    .title {
        font-family: 'Kaushan Script', cursive;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: $primary;
        font-size: rem(54);

        span {
            font-family: 'Overpass', "Helvetica Neue", sans-serif;
            margin-bottom: rem(-11);
            font-size: rem(20);
            font-weight: 900;
            line-height: rem(20);
            color: $secondary;
            z-index: -1;
        }
    }
}